<ng-template #content let-c="close">
<div class="modal-header">
  <img src="/assets/img/dsatlas_logo.png" alt="DSAtlas"/>
  <h5>v2.1.4</h5>
</div>
<div class="modal-body" id="modal-body">
  <h4>About</h4>
  <p>
  DSAtlas is an interactive map of <a href="http://dsausa.org/" target="_blank">Democratic Socialists of America</a> chapter membership across the United States. Hover and click on the map to discover more information about local chapters and membership.
  </p>
  <h4>Data</h4>
  <div>
    <ul>
      <li>Individual chapter metrics are voluntarily reported.</li>
      <li>State, county and congressional district boundaries provided by the <a href="https://www.census.gov/geo/maps-data/data/tiger-cart-boundary.html" target="_blank">United States Census</a></li>
      <li>Map tiles provided by the <a href="https://www.openstreetmap.org">OpenStreetMap Project</a></li>
    </ul>
  </div>
  <hr />
  <div class="text-center">
    Creators:
    <button type="button" class="btn btn-social btn-twitter" (click)="goTo('https://twitter.com/whimsical_turd')"><span class="fa fa-twitter"></span>Chris Engelsma</button>
    <button type="button" class="btn btn-social btn-twitter" (click)="goTo('https://twitter.com/Ballard_HS_YDSA')"><span class="fa fa-twitter"></span>Laura Couch</button>
  </div>
  <hr/>
  <div class="text-center"> Made with <i class="fa fa-heart color-red"></i> in Houston, TX. </div>
</div>
<div class="modal-footer">
  <button class="btn btn-social btn-github" type="button" (click)="goTo('https://github.com/chrisengelsma/dsatlas')"><span class="fa fa-github-square"></span>Fork on GitHub</button>
  <button class="btn btn-outline-primary" type="button" (click)="c('Close Click')">Close</button>
</div>
</ng-template>

<button type="button" class="btn btn-outline-dark" (click)="open(content)">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
</button>
