<div class="container text-center" style="padding-top: 100px;">
  <div class="well well-sm">Note: This list is not exhaustive as numbers are self-reported and constantly being updated.</div>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th> Links </th>
        <th> Chapter </th>
        <th> Location </th>
        <th> Members </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in chapters track by $index">
        <th class="light-th">
          <table class="chapter-link">
            <tr>
              <td class="chapter-link">
                <div ng-if="value.twitter"><a href="https://twitter.com/{{value.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></div>
              </td>
              <td class="chapter-link">
                <div ng-if="value.facebook"><a href="https://facebook.com/{{value.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></div>
              </td>
              <td class="chapter-link">
                <div ng-if="value.website"><a href="{{value.website}}" target="_blank"><i class="fa fa-globe"></i></a></div>
              </td>
            </tr>
          </table>
        </th>
        <td class="clickable light-th" ng-click="goTo(value)"> {{ value.name }} </td>
        <td class="clickable light-th" ng-click="goTo(value)"> {{ value.city }}, {{ value.state }} </td>
        <td class="clickable light-th" ng-click="goTo(value)"> {{ value.members > 0 ? value.members : ''}} </td>
      </tr>
    </tbody>
  </table>

</div>
