<div class="container">
  <div class="list-wrapper">
    <div class="list-top">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="chapter-search"> <i class="fa fa-search"></i> </span>
        </div>
        <input [(ngModel)]="searchFilter.name"
               name="searchFilter"
               title="searchName"
               type="text"
               class="form-control"
               aria-describedby="chapter-search"
               placeholder="Search Chapter Name">
      </div>

      <button type="button"
              class="btn btn-block btn-success"
              (click)="addChapter()">
        <i class="fa fa-plus"></i> Add Chapter
      </button>
    </div>

    <div class="list-bottom text-center" style="font-size: 10pt;">
      <table class="table table-sm table-hover">
        <tr *ngFor="let chapter of chapters | filterBy: searchFilter | orderBy:sortTag:sortReverse"
            [ngClass]="{ 'table-primary': selected._id === chapter._id}"
            (click)="onSelectionChange(chapter)">
          <td class="clickable">
            {{ chapter.name }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
