<div class="modal-header">
  <h3 class="modal-title" id="modal-title">About DSAtlas</h3>
</div>
<div class="modal-body col-md-12" id="modal-body">
  <div class="col-md-12">DSAtlas: An interactive map of <a href="http://dsausa.org/" target="_blank">Democratic Socialists of America</a> chapters.</div>
  <div class="col-md-12">Creators:</div>
  <div class="col-md-12"><a href="https://twitter.com/whimsical_turd"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;Chris Engelsma </div>
  <div class="col-md-12"><a href="https://twitter.com/Ballard_HS_YDSA"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;Laura Couch</div>
  <div class="col-md-offset-10 col-md-2 text-right"><h5>v2.0.0</h5></div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$modalCtrl.close()">Close</button>
</div>