@import "map";
@import "list";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  padding: 10px 10px 0 10px;
  >img {
    height: 30px;
  }
}

.name {
  color: #333;
  padding-top: 15px;
}

.modal-body {
  font-size: 16px;
}

.light-th {
  font-weight: normal;
}
